---
import BaseLayout from '../layouts/BaseLayout.astro'
import Nav from '../sections/Nav.astro'
import HeroEditorial from '../sections/HeroEditorial.astro'
import ModelFamilyGrid from '../sections/ModelFamilyGrid.astro'
import NewReleases from '../sections/NewReleases.astro'
import ManufactureStory from '../sections/ManufactureStory.astro'
import WatchmakingTeaser from '../sections/WatchmakingTeaser.astro'
import Bestsellers from '../sections/Bestsellers.astro'
import PressQuote from '../sections/PressQuote.astro'
import RetailerFinder from '../sections/RetailerFinder.astro'
import Newsletter from '../sections/Newsletter.astro'
import Footer from '../sections/Footer.astro'
---

<BaseLayout>
  <main>
    <Nav />
    <HeroEditorial />
    <ModelFamilyGrid />
    <NewReleases />
    <ManufactureStory />
    <WatchmakingTeaser />
    <Bestsellers />
    <PressQuote />
    <RetailerFinder />
    <Newsletter />
    <Footer />
  </main>
</BaseLayout>
