---
import { RollingText } from 'skiper-islands/text/RollingText'
import { ScrollWithFade } from 'skiper-islands/scroll/ScrollWithFade'
---

<section class="py-10 px-6 bg-[#F7F5F2] border-y border-[#1A1A1A]/10">
  <div class="max-w-6xl mx-auto">
    <ScrollWithFade>
      <div class="client-component">
        <RollingText
          items={['Hodinkee', 'WornAndWound', 'Esquire', 'Forbes']}
          speed={30}
          direction="left"
          separator=" · "
          fontSize="12px"
          color="#6B6B6B"
          pauseOnHover={true}
        />
      </div>
    </ScrollWithFade>
  </div>
</section>
