---
import BaseLayout from '../layouts/BaseLayout.astro'
import Nav from '../sections/Nav.astro'
import Hero from '../sections/Hero.astro'
import SubAnnouncement from '../sections/SubAnnouncement.astro'
import CollectionGrid from '../sections/CollectionGrid.astro'
import FeaturedProduct from '../sections/FeaturedProduct.astro'
import BuildYourWatch from '../sections/BuildYourWatch.astro'
import LookbookTeaser from '../sections/LookbookTeaser.astro'
import PressStrip from '../sections/PressStrip.astro'
import Reviews from '../sections/Reviews.astro'
import Straps from '../sections/Straps.astro'
import Newsletter from '../sections/Newsletter.astro'
import Footer from '../sections/Footer.astro'
---

<BaseLayout>
  <main>
    <Nav />
    <Hero />
    <SubAnnouncement />
    <CollectionGrid />
    <FeaturedProduct />
    <BuildYourWatch />
    <LookbookTeaser />
    <PressStrip />
    <Reviews />
    <Straps />
    <Newsletter />
    <Footer />
  </main>
</BaseLayout>
