---
import { RollingText } from 'skiper-islands'
---

<section class="py-6 border-y border-gray-100">
  <RollingText
    items={["GQ","Forbes","NY Times","Hodinkee","Wired"]}
    speed={40}
    direction="left"
    separator=" · "
    fontSize="13px"
    color="#888"
    pauseOnHover={true}
  />
</section>
